node_modules
.idea
build
.DS_Store
public/config.js
/build
package-lock.json
.eslintcache
.env
.vscode
yarn-error.log
allure-report/*.*
allure-report
_results_
allure-results/ 
reports/
storybook-static
coverage/
allure_file.log
config/local.js